@model FixedAssetWeb.ViewModels.Reports.ReportVM
@using Microsoft.AspNetCore.Http;
@{
    ViewBag.Title = "Depreciation Schedule";
}
@{
    Layout = null;

}

<!DOCTYPE html>
<html>
<body>
    <h1 style="text-align:center" class="text-center display-4">@Model.Company.comp_name</h1>
    <h3 style="text-align:center">@Model.Company.Address</h3>

    <br />
    <h3 style="text-align:center">REPORTS</h3>
    <h4 style="text-align:center">Depreciation Schedule</h4>

    <h3>Depreciation Schedule Report: Produce On @DateTime.Now</h3>
    <table border="2" cellpadding="2" cellspacing="0" width="100%">

        @foreach (var assetDept in Model.DepreciationSchedule2)
        {
            
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Purchase Value</th>
                    <th>Purchase Date</th>
                    <th>Depreciation B/Fwd</th>
                    <th>Depreciation</th>
                    <th>Accumulated Depreciation</th>
                    <th>Book Value</th>
                </tr>
            </thead>
            foreach (var asset in Model.DepreciationSchedule1.Where(x => x.loc == assetDept.loc))
            {
                <tbody>
                    <tr style="text-align:center">
                        <td> @assetDept.newloc</td>
                        <td>@asset.purchval</td>
                        <td>@asset.purchdate</td>
                        <td>@asset.depreciation</td>
                        <td>@asset.depreciation</td>
                        <td>@asset.accum_depr</td>
                        <td>@asset.bookval</td>
                    </tr>
                </tbody>
            }
            <tr>
                <td><span>Total</span></td>
                <td>@Math.Round((decimal)Model.DepreciationSchedule1.Where(x => x.loc == assetDept.loc).ToList().Sum(x => x.purchval), 2)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @*<tr>
                <td><span><b> &nbsp;&nbsp;&nbsp; </b></span> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>*@
        }

    </table>
</body>
</html>